.container#concept
  #concept-box
    .row
      .col-xs-12
        .row.text-center#head
          img.center-block.img-responsive(src="images/content-head/concept.jpg")
        .row.text-center
          p 光の中にいる人は、
          p 暗闇がどういうものかを知らない。
          p 暗い場所から明るい場所はハッキリ見えるが、
          p 明るい場所から暗い場所は見えるだろうか。
          p 明るい場所にいる人間は、率先して
          p 人生の闇に目を向けていかなければ、
          p 永久にその視野は「狭い」ままだ。
          p この世にあるのは、光だけではない。
