.container#concept
  #concept-box
    .row
      .col-xs-12
        //.row.text-center#head
          img.center-block.img-responsive(src="images/content-head/concept.jpg")
        .row.text-center
          p 夜の静けさの中に、非日常はある。
        .row.text-center
          p 日々、均質な時間を消費し続ける僕ら。
        .row.text-center
          p 深い闇の底、
        .row.text-center
          p 孤独の中では、どんな世界に耽るのだろう。
        .row.text-center
          p まだ見ぬ夜更かしの世界をお見せします。
