.container#concept
  .row
    .col-xs-12
      //.row.text-center#head
        img.center-block.img-responsive(src="images/content-head/concept.jpg")
      //.row.text-center
        p 夜の静けさの中に、非日常はある。
      //.row.text-center
        p 日々、均質な時間の消費を強要する社会。
      //.row.text-center
        p そこで生きる僕ら。
      //.row.text-center
        p 深い闇の底、
      //.row.text-center
        p 孤独の中では、どんな世界に浸るのか。
      //.row.text-center
        p 一人一人の表現を通じて、
      //.row.text-center
        p まだ見ぬ夜更かしの世界をお見せします。

      .row.text-center.concept-row
        p 非日常は、夜の静寂にある。
      .row.text-center.concept-row
        p 均質的な時間や空間の消費を強要する社会。
      .row.text-center.concept-row
        p そこで忘我的に生きる僕ら。
      .row.text-center.concept-row
        p 深い闇の底、孤独の中ではどんな世界に浸るのか。
      //.row.text-center.concept-row
        p エモい
