.container#information
  .row.text-center
    .col-xs-12
      img.center-block.img-responsive(src="images/content-head/information.jpg")
  .row.text-left.inner_container
    .row
      .col-xs-12.col-md-6
        table
          tr
            td.thead 開催日時:
            td.tbody 2016年12月22日(木) ～ 12月28日(水) 11:00 ～ 20:00
          tr
            td.thead 料金:
            td.tbody 入場無料
          tr
            td.thead 場所:
            td.tbody 筑波大学 春日エリア C10x教室
          tr
            td.thead 主催:
            td.tbody 筑波大学 情報学群 情報メディア創成学類
          tr
            td.thead 問合わせ:
            td.tbody yofukashi[at]yahoo.co.jp
          tr
            td.thead アクセス:
            td.tbody つくば駅より徒歩xx分
      .col-xs-12.col-md-6
        .ggmap
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.358618889764!2d140.1065994033382!3d36.08474512432007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60220c7a26c9d217%3A0x65d055c542420670!2z562R5rOi5aSn5a2mIOetkeazouOCreODo-ODs-ODkeOCueaYpeaXpeOCqOODquOCog!5e0!3m2!1sja!2sjp!4v1480945150487", width="500", height="400", frameborder="0", style="border:0", allowfullscreen)
