.container#information
  .row.text-center
    .col-xs-12
      img.center-block.img-responsive(src="images/content-head/information.jpg")
  .row.text-center
    .col-xs-2
    .col-xs-8
      .row.text-left
        .col-xs-12
          h2 About
          .table-responsive
            table.table
              tbody
                tr
                  th(scope="row") Test1
                  td hogehoge
                tr
                  th(scope="row") Test2
                  td hogehoge
                tr
                  th(scope="row") Test3
                  td hogehoge
