.container.menu
  .row.text-center
    .col-sm-3.col-xs-6
      a(class="scroll" href="#concept" alt="夜更かし展とは? how about yofukashi?")
        img.center-block.img-responsive.rollover(src="images/menu/yofukashi-off.jpg")
    .col-sm-3.col-xs-6
      a(class="scroll" href="#works" alt="展示作品 works")
        img.center-block.img-responsive.rollover(src="images/menu/works-off.jpg")
    .col-sm-3.col-xs-6
      a(class="scroll" href="#information" alt="開催情報 information")
        img.center-block.img-responsive.rollover(src="images/menu/information-off.jpg")
    .col-sm-3.col-xs-6
      a(class="scroll" href="#member" alt="メンバー member")
        img.center-block.img-responsive.rollover(src="images/menu/member-off.jpg")
