.container.menu
  .row.text-center
    .col-sm-3.col-xs-6
      a(href="#concept" alt="夜更かし展とは? how about yofukashi?")
        img.center-block.img-responsive.rollover(src="images/menu/yofukashi-off.jpg")
    .col-sm-3.col-xs-6
      a(href="#highlight" alt="見どころ highlight")
        img.center-block.img-responsive.rollover(src="images/menu/highlight-off.jpg")
    .col-sm-3.col-xs-6
      a(href="#exhibits" alt="展示作品 exhibits")
        img.center-block.img-responsive.rollover(src="images/menu/exhibits-off.jpg")
    .col-sm-3.col-xs-6
      a(href="#information" alt="開催情報 information")
        img.center-block.img-responsive.rollover(src="images/menu/information-off.jpg")
