.container#works
  .row.text-center
    .col-xs-12
      img.center-block.img-responsive(src="images/content-head/works.jpg")
  .row.text-center
    .col-xs-12
      .swiper-container
        include works/swiper-contents.pug
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
