doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="description" content="夜更かし展の概要")
    meta(name="keyword" content="筑波大学 メディアアート 展覧会 落合陽一")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(property="og:title" content="夜更かし展 | 筑波大学")
    meta(property="og:locale" content="ja_JP")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="夜更かし展 | 筑波大学")
    // meta(property="og:url" content="http://salvador-dali.jp/")
    // meta(property="og:image" content="images/pc/ogp.png")
    meta(property="og:description" content="夜更かし展の概要")
    link(rel="stylesheet" type="text/css" href="vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/bundle.css")
    script(src="js/bundle.js")
    script(src="vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js")
    title 夜更かし展 | 筑波大学
  body
    include components/top.pug
    include components/menu.pug
    include components/concept.pug
    include components/highlight.pug
    include components/exhibits.pug
    include components/information.pug
