#concept{
  background-image: url('images/concept-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  width: 100%;
  height 100vh;
  vertical-align: middle;
  padding-bottom: 100px;
  margin-bottom: 10px;
}

#concept #concept-box{
  margin-top: 10%;
}

#concept #head{
  margin-bottom: 2%;
}

@media screen and (min-width: 770px) {
  #concept p{
    font-size: 28px;
  }
}

@media screen and (min-width: 415px) and (max-width: 769px) {
  #concept p{
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  #concept p{
    font-size: 10px;
  }
}
