#member{
  margin-bottom: 100px;
}

#member #head{
  margin-top: 20px;
}

#member .row {
  margin-top: 40px;
}

#member .inner_container {
  margin-left: 10%;
  margin-right: 10%;
}

#member img {
  margin-bottom: 40px;
}

#member h1 {
  margin-top: 15px;
  margin-bottom: 8px;
  color: #fff;
}

@media screen and (min-width: 770px) {
  #member h1 {
    font-size: 22px;
  }

  #member p{
    font-size: 18px;
  }
}

@media screen and (min-width: 415px) and (max-width: 769px) {
  #member h1 {
    font-size: 24px;
  }

  #member p{
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  #member h1 {
    font-size: 20px;
  }

  #member p{
    font-size: 15px;
  }
}
