#top{
  width: 100%;
  margin-bottom: 0px;
  background-color: #000;
  height: 86vh
  padding-top: 15vh;
  padding-bottom: 19vh;
   -webkit-transition: all 5s;
    -moz-transition: all 5s;
    -ms-transition: all 5s;
    -o-transition: all 5s;
    transition: all 5s;
    opacity: 0;
}

@media (max-width: 768px) {
  #top{
    background-color: #000;
    height: 70vh
    padding-top: 15vh;
    padding-bottom: 19vh;
  }
}
