#top{
  width: 100%;
  margin-bottom: 0px;
  background-color: #000;
  height: 86vh
  padding-top: 15vh;
  padding-bottom: 19vh;
}

@media (max-width: 768px) {
  #top{
    background-color: #000;
    height: 70vh
    padding-top: 15vh;
    padding-bottom: 19vh;
  }
}
