#works{
  margin-bottom: 100px;
}

#works #head{
  margin-top: 20px;
}

#works .inner_container {
  margin-left: 20%;
  margin-right: 20%;
}

#works img {
  margin-bottom: 20px;
}

#works h1 {
  margin-top: 15px;
  margin-bottom: 8px;
  color: #fff;
}

#works p:last-child{
  margin-bottom: 60px;
}

@media screen and (min-width: 770px) {
  #works .row {
    margin-top: 50px;
  }

  #works h1 {
    font-size: 22px;
  }

  #works p{
    font-size: 18px;
  }
}

@media screen and (min-width: 415px) and (max-width: 769px) {
  #works .row {
    margin-top: 10px;
  }

  #works h1 {
    font-size: 24px;
  }

  #works p{
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  #works .row {
    margin-top: 5px;
  }

  #works h1 {
    font-size: 20px;
  }

  #works p{
    font-size: 15px;
  }
}
