.row
  .col-xs-12.col-md-4.text-center
    img.center-block.img-responsive(src="images/noimage.gif")
  .col-xs-12.col-md-8.text-left
    h1 プロデューサー
    p 大竹智史
    p 筑波大学  社会国際学群 国際総合学類 学部 4年
.row.text-left
  .col-xs-12
    p
      | 
