.row
  .col-xs-12.col-md-4.text-center
    img.center-block.img-responsive(src="images/member/ohtake.jpg")
  .col-xs-12.col-md-8.text-left
    h1 プロデューサー
    p 大竹智史
    p 筑波大学  社会国際学群 国際総合学類 学部 4年
.row.text-left
  .col-xs-12
    p
      | ヒトは隷属的な生き物であると思います。
      | 無意識の中で環境に支配されて生きているのに、
      | 人間の特殊地位である自己の主体性を保持していると謳い、
      | 盲目である事が多いのです。
    p
      | 夜更かしこそ、これを解放してくれます。
    p
      | 日中、環境世界による拘束への疑念が芽吹く事は稀ですが、終わらない仕事、空想による孤独な高揚、読書による知の拡張、性活動など、
      | 夜の活動の中には自己と世界とを対象化する契機が多くあります。
    p
      | 忙しい状況を表す言葉でも、“徹夜”という言葉から想起される状況には「社会環境による自己犠牲」というニュアンスがどこか漂っている。これは代表的な例だと思います。
    p
      | 夜更かしを介して学生一人一人が対象化した世界を会場でお楽しみください。
