.row
  .col-xs-12.col-md-4.text-center
    img.center-block.img-responsive(src="images/member/ohtake.jpg")
  .col-xs-12.col-md-8.text-left
    h1 プロデューサー
    p 大竹智史
    p 筑波大学  社会国際学群 国際総合学類 学部 4年
.row.text-left
  .col-xs-12
    p
      | ヒトも、隷属的な生き物である。 人間も常に環境に支配されて生きているが、
      | 特殊地位(自己の主体性、自由)を自分たちは保持していると唱い、盲目である。
      | 夜更かしは認識を開放してくれる。
    p
      | 日中の隷属的な環境世界の拘束には、疑念を抱くことが少ないが、
      | 夜中の活動の中には、自分の世界を対象化するための契機が多くある。
      | 終わらない仕事、空想による孤独な高揚、読書による知の拡張、性活道......
    p
      | これらを暗い静寂の中での個人の活動単位として思い浮かべるのではなく、
      | 全体を俯瞰して集合的に捉える。すると、夜更かしは各個人の活動単位として
      | 思い浮かべるのではなく、全体を俯瞰して集合的に捉える。
      | すると、夜更かしは各個人の思い思いの活動によって構成された混沌とした空間となる。
    p
      | 実際に会場に足を運び、この表現とその集合体によるカオスな空間を楽しんでほしい。
