.row
  .col-xs-12.col-md-4.text-center
    img.center-block.img-responsive(src="images/noimage.gif")
  .col-xs-12.col-md-8.text-left
    h1 プロデューサー
    p 大竹智史 (写真 右 or 左)
    p 筑波大学  社会・国際学群 国際情報学類 学部 4年
    h1 ディレクター
    p 大島和輝 (写真 右 or 左)
    p 筑波大学 情報学群 情報メディア創成学類 学部 3年
.row.text-left
  .col-xs-12
    p
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
.row.text-left
  .col-xs-12
    p
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
.row.text-left
  .col-xs-12
    p
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
