.row.text-center
  .col-xs-12.col-md-6
    .row
      h1 プロデューサー
      p 大竹智史
    .row
      h1 ディレクター
      p 大島和輝
    .row
      h1 ポスター・チラシ デザイン
      p 梶村昂史
  .col-xs-12.col-md-6
    .row
      h1 広報
      p 飯山博紀
    .row
      h1 会場・WEB
      p 佐々木浩幸
    .row
      h1 運営
      p 亀谷仁志
.row.text-center
  .col-xs-12
    h1 スタッフ
    p 島田理紗子 / 張丹荷 / 小幡将司 / 宋暁宇
