.row.text-left
  .col-xs-12
    h1 プロデューサー
    p 大竹智史
.row.text-left
  .col-xs-12
    h1 ディレクター
    p 大島和輝
.row.text-left
  .col-xs-12
    h1 ポスター・チラシ デザイン
    p 梶村昂史
.row.text-left
  .col-xs-12
    h1 広報
    p 飯山博紀
.row.text-left
  .col-xs-12
    h1 会場・WEB
    p 佐々木浩幸
.row.text-left
  .col-xs-12
    h1 運営
    p 亀谷仁志
.row.text-left
  .col-xs-12
    h1 スタッフ
    p 島田理紗子 / 張丹荷 / 小幡将司 / 宋暁宇
