.row
  .col-xs-12.col-md-4.text-center
    img.center-block.img-responsive(src="images/member/ochiai.jpg")
  .col-xs-12.col-md-8.text-left
    h1 指導教員
    p 落合陽一
    p 筑波大学 情報学群 情報メディア創成学類 助教
.row.text-left
  .col-xs-12
    p
      | 筑波大学情報メディア創成学類のデジタルコンテンツ表現実習及び、
      | 図書館情報メディア研究科のコンテンツ制作論の授業では、
      | メディアアート及びデジタルエンターテイメント作品づくりを行ってきました．
    p
      | この展覧会では学生の表現活動の実践の場として学生が主体的にテーマを決め、施工を行い、制作を進めてきました。
      | 今回のテーマは「夜更かし」。夜にまつわる様々な作品を通じた思考や試作、様々な可能性の原石を展示しています.
    p
      | みなさまのご来場を教員、学生一同、心よりお待ちしております。
