.row
  .col-xs-12.col-md-4.text-center
    img.center-block.img-responsive(src="images/noimage.gif")
  .col-xs-12.col-md-8.text-left
    h1 指導教員
    p 落合陽一
    p 筑波大学 情報学群 情報メディア創成学類 助教
.row.text-left
  .col-xs-12
    p
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
.row.text-left
  .col-xs-12
    p
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
      | なんか感動的で長い文章. なんか感動的で長い文章. なんか感動的で長い文章.
