.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/works/iiyama.jpg")
    .col-xs-12.col-md-6.text-left
      h1 苦脳
      p 自我の乱れ
      p 飯山博紀
      p 筑波大学 理工学群
      p 応用理工学類 学部 4年
  .row.text-left
    .col-xs-12
      p
        | 私にとって夜更かしとは悩む行為そのものである。
      p
        | 精神科医であり、心理学者のアルフレッド・アドラーは
        |「人間の悩みは、すべて人間関係の悩みである。」と述べている。
      p
        | 自我を水面に例え、他者から発せられた音はコンピューターを通じて波形として現れる。
        | 音を感知すればするほど自我は乱れる。脳は締め付けられる一方である。
