.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/works/kajimura.jpg")
    .col-xs-12.col-md-6.text-left
      h1 夜更かし体験
      p あの人はなにして過ごしてる？
      p 梶村昂史
      p 筑波大学 情報学群
      p 情報メディア創成学類 学部 3年
  .row.text-left
    .col-xs-12
      p
        | 夜更かしとはなにか？夜更かしって何するの？
      p
        | 夜遊びにふける人や、ただ無為に時間を過ごす人、課題に追われてる人など、
        | 十人十色の夜更かしがあります。
      p
        | この作品では、ご来場の皆様に
        | 自分とは違った夜更かしを体験してもらいたいと思います。
