.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/works/kameya.jpg")
    .col-xs-12.col-md-6.text-left
      h1 あまり夜更かししていると・・・
      p 貴方はいつから夜更かしするようになりましたか？
      p 亀谷仁志
      p 筑波大学 情報学群
      p 情報メディア創成学類 学部 3年
  .row.text-left
    .col-xs-12
      p
        | 皆さんは初めて夜更かししたのはいつですか？
      p
        | インターネットやメール、チャットで夜更かししたのはいつでしょうか？
      p
        | その時はどんな感じでしたか？
      p
        | この作品は、就寝時間になっても起きている経験を
        | 初めてしたあの時の感覚を呼び覚ましてくれます。
