.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/works/obata.jpg")
    .col-xs-12.col-md-6.text-left
      h1 青空空模様
      p 青空に描く雲の絵
      p 小幡将司
      p 筑波大学付属大学院
      p 図書館情報メディア研究科 xx課程 x年
  .row.text-left
    .col-xs-12
      p
        | 空を見上げた時に、何かに似ている雲を見つけることがあります。
      p
        |その時、自分が知っている何かであれば何か得たものがあるように感じます。
      p
        | そのような発見体験を再現する映像コンテンツです。
      p
        | 画像を取り込み、雲のように加工し、青空に映しこむことで、
      p
        | 発見体験のできる青空を作り出します。
