.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/works/ohtake.jpg")
    .col-xs-12.col-md-6.text-left
      h1 Emancipaing the immersion
      p 大竹智史
      p 筑波大学 社会国際学群
      p 国際総合学類 学部 4年
  .row.text-left
    .col-xs-12
      p
        | 夜更かし後のぼんやりと外が明るくなっていく朝焼けの感覚、
      p
        | 真夜中に極限まで集中した後にだんだんと現実に戻される感覚を表現した。
      p
        | この作品では、歪んだ自分を映し出していた曲面鏡がだんだんと透過して周りの世界が見え出す。
      p
        | 鏡の中で主観的に、また、体験者を外から観察する事で客観的に体験してほしい。
