.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/noimage.gif")
    .col-xs-12.col-md-6.text-left
      h1 鉄薔薇
      p 目覚め
      p 大竹智史
      p 筑波大学 国際学群
      p 国際情報学類 学部 4年
  .row.text-left
    .col-xs-12
      p
        | 極限状態、徹夜の作業で心も体もフラフラな時。
      p
        | ここで見る、朝明けほど僕にとって強烈な体験はない。
      p
        | 曲がった鏡に囲まれ、眼に最も親しい像を見る。
      p
        | 見慣れているのにちょっと歪むと焦点は定まらない。
        | 気づいたら現実に戻る。
