.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/noimage.gif")
    .col-xs-12.col-md-6.text-left
      h1 作品名
      p 副題
      p 作成者
      p 所属
  .row.text-left
    .col-xs-12
      p
        | なんか感動的で長い文章. なんか感動的で長い文章.
        | なんか感動的で長い文章. なんか感動的で長い文章.
        | なんか感動的で長い文章. なんか感動的で長い文章.
        | なんか感動的で長い文章. なんか感動的で長い文章.
