.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/noimage.gif")
    .col-xs-12.col-md-6.text-left
      h1 no title
      p 大島和輝
      p 筑波大学 情報学群
      p 情報メディア創成学類 学部 3年
  .row.text-left
    .col-xs-12
      p
        | comming soon.
