.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/works/oshima.jpg")
    .col-xs-12.col-md-6.text-left
      h1 reproduction of 00's
      p 大島和輝
      p 筑波大学 情報学群
      p 情報メディア創成学類 学部 3年
  .row.text-left
    .col-xs-12
      p
        | インターネットは明るい場所になった。
      p
        | かつて夜な夜なWebページを徘徊したときにあった
        | 暗闇を手探りで進んでいくような感覚はまったく
        | 失われてしまったように感じられる。
      p
        | もしも過去のインターネット空間と現代のSNSが融合したらどうなるだろうか。
      p
        | かつてのWeb空間の感覚は再生されるのだろうか。
