.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/works/song.jpg")
    .col-xs-12.col-md-6.text-left
      h1 ひとりのクリスマス
      p 体験できる写真館
      p 宋暁宇
      p 筑波大学付属大学院
      p 図書館情報メディア研究科
  .row.text-left
    .col-xs-12
      p
        | 私が住む都市に雪は降らないが、君との記憶を思い出し寒くなる。
      p
        | ひとりぼっちでは華やかなクリスマスは怖い、
      p
        | 自分を酔わせる事しかできない。誰を祝福すればいい? 書いたカードを誰に送ればいい?
      p
        | Merry Merry Christmas. Lonely Lonely Christmas.
      p
        | 夜がふけて人が寝静まる時、たったひとりでクリスマスをしよう。
