.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/noimage.gif")
    .col-xs-12.col-md-6.text-left
      h1 クリスマス奇妙な写真を撮りましょう。
      p 体験できる写真館
      p 宋暁宇
      p 筑波大学付属大学院
      p 図書館情報メディア研究科
  .row.text-left
    .col-xs-12
      p
        | 毎年、研究室でクリスマスパーティーをやっています。
      p
        | しかし、クリスマスパーティーと言っても、
        | みんなは一緒に美味しいものを食べたり、ゲームをやったりします。
      p
        | 時間と費用をかかるので、別に研究室を飾らないです。
      p
        | クリスマスっぽい写真を撮りたい時、
        | 研究室はなかなかクリスマス雰囲気がないので、なかなかいい写真を撮らない。
      p
        | その時もし特別なプロジェクターがあれば、
        | この特別なプロジェクターにより研究室のある隅でクリスマス風景が投影したら、
      p
        | みんなはいい写真を撮ることができる。
