.swiper-wrapper
  .swiper-slide
    include ohtake.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include iiyama.pug
  .swiper-slide
    include kajimura.pug
  .swiper-slide
    include kameya.pug
  .swiper-slide
    include shimada.pug
  .swiper-slide
    include zhang.pug
  .swiper-slide
    include song.pug
  .swiper-slide
    include obata.pug
