.swiper-wrapper
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
  .swiper-slide
    include oshima.pug
