.inner_container
  .row
    .col-xs-12.col-md-6.text-center
      img.center-block.img-responsive(src="images/noimage.gif")
    .col-xs-12.col-md-6.text-left
      h1 冬の星空
      p 副題
      p 張丹荷
      p 筑波大学付属大学院
      p 図書館情報メディア研究科 xx課程 x年
  .row.text-left
    .col-xs-12
      p
        | 都市化の推進と伴い、光害はますます厳しくなっている。
      p
        | 輝く星空を見るには、プラネタリウム、または写真を見るしかできない。
      p
        | プラネタリウムはいつも仰いで見なければならないし、写真は没入感はない。
      p
        | 星空はどうしても届かないような距離感がある。
      p
        | そこで、「自分で星空を作れば」というアイデアを考えた。
